h1 {
    color: green;
    font-size: 32px;
    text-transform: uppercase;
}
table {
    border-collapse: collapse;
}
th, td {
    text-align: center;
    font-weight: bold;
    background-color: #d1c4e9;
    padding: 10px;
    border: 2px solid white;
}
