h1 {
    color: green;
    font-size: 32px;
    text-transform: uppercase;
}
th {
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 18px;
}
td {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}
